<MarketplaceDetails>
  <SmallAppTile>ApplicationListImage.png</SmallAppTile>
  <LargeAppTile>Background.png</LargeAppTile>
  <PCAppTile>MarketplaceImage.png</PCAppTile>
  <ScreenShots>Tirinhas.png;;TirinhaLendo.png;TirinhaLendo2.png;;;;;</ScreenShots>
  <ScreenShotsWXGA>;;;;;;;;</ScreenShotsWXGA>
  <ScreenShots720P>;;;;;;;;</ScreenShots720P>
</MarketplaceDetails>